src/main/mule/application-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="67019dbd-8225-4aad-9fff-e0ab4d1542e0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="application-demoFlow" doc:id="6b18679d-55e3-43c7-836a-79b7a4af1649" >
		<http:listener doc:name="Listener" doc:id="083d380a-a919-4d89-9169-dbb87c4b74d4" config-ref="HTTP_Listener_config" path="/app"/>
		<set-payload value='#["Hello world"]' doc:name="Set Payload" doc:id="8294fd19-93c1-4b0b-94c4-1d778bac8787" />
	</flow>
</mule>
